.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn{
  font: 900;
  font-size: 1.5rem;
  padding: .5rem .7rem;
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
}
