.calculator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.row{
  display: flex;
  /* width: 100px; */
}
.inputBox{
  padding: 1rem 2rem;
}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
}