.btn{
  font-size: 1.5rem;
  font-weight: bolder;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: .3rem .5rem;
  min-width: 40px ;
}

.btn:hover{
  background-color: hwb(33 77% 10%);
}